In [4]:
import pandas as pd
df = pd.read_csv("./salaries_by_college_major.csv")

In [5]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [7]:
df.shape

(51, 6)

In [10]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [ ]:
df.isna()

In [12]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [ ]:
clean_df = df.dropna()
clean_df

In [21]:
clean_df["Starting Median Salary"].max()

74300.0

In [27]:
max_row = clean_df["Starting Median Salary"].idxmax()
clean_df["Undergraduate Major"].loc[max_row]

'Physician Assistant'

In [32]:
max_row = clean_df["Mid-Career 90th Percentile Salary"].idxmax()
major = clean_df["Undergraduate Major"].loc[max_row]
salary = clean_df["Mid-Career Median Salary"].loc[max_row]

print(f"major: {major}\nsalary: {salary}")

major: Economics
salary: 98600.0

In [36]:
min_row = clean_df["Starting Median Salary"].idxmin()
salary = clean_df["Starting Median Salary"].loc[min_row]
major = clean_df["Undergraduate Major"].loc[min_row]

print(f"major: {major}\nsalary: {salary}")

major: Spanish
salary: 34000.0

In [37]:
min_row = clean_df["Mid-Career 10th Percentile Salary"].idxmin()
salary = clean_df["Mid-Career Median Salary"].loc[min_row]
major = clean_df["Undergraduate Major"].loc[min_row]

print(f"major: {major}\nsalary: {salary}")

major: Music
salary: 55000.0

In [39]:
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [ ]:
spread_col = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]
clean_df.insert(1, "Spread", spread_col)
clean_df.head()

In [ ]:
low_risk = clean_df.sort_values("Spread")
low_risk[["Undergraduate Major", "Spread"]].head()

In [48]:
highest_potential = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_potential[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [55]:
greatest_spread = clean_df.sort_values("Spread", ascending=False)
greatest_spread[["Undergraduate Major", "Spread"]].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [69]:
pd.options.display.float_format = "{:,.2f}".format
clean_df.groupby("Group").mean()

/var/folders/c3/5pdm4hrd4tdc_6s74qn93l8m0000gn/T/ipykernel_1129/1991554260.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clean_df.groupby("Group").mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"